/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* base.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html {
  color: #222;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1900 - 300)));
  font-family: "Nunito Sans", sans-serif !important;
  line-height: 1.4;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}

.mt-r-1 {
  margin-top: -5px;
}

.bg-path {
  height: 100vh;
  position: relative;
  padding-top: 5rem;
}
.bg-path > div {
  z-index: 9999;
}
.bg-path:before {
  content: "";
  background: url("../img/bg-path.png");
  background-size: 109% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  top: -9rem;
  z-index: 999;
  position: absolute;
}

.bg-y-path {
  position: relative;
  padding-top: 0;
  padding-bottom: 3rem;
  margin-top: 5rem;
  margin-bottom: 22%;
}
.bg-y-path > div {
  z-index: 9999;
}
.bg-y-path:after {
  content: "";
  background: url(../img/bg-path.png) no-repeat center;
  background-size: 109% 100%;
  width: 100%;
  bottom: 0;
  transform: translate(0, 39%);
  z-index: -999;
  position: absolute;
  aspect-ratio: 16/9;
}
.bg-y-path:before {
  content: "";
  background: url(../img/bg-path.png) no-repeat center;
  background-size: 109% 100%;
  width: 100%;
  transform: translate(0, -32%);
  z-index: -999;
  position: absolute;
  aspect-ratio: 16/9;
}

.bg--blue {
  background: #303C6D;
}

.bg--blue-light-1 {
  background: #1E75B8;
}

.text--blue-light-1 {
  background: #1E75B8;
}

.bg--blue-light-2 {
  background: #4D91C5;
}

.text--blue-light-2 {
  background: #4D91C5;
}

.bg--blue-light-3 {
  background: #189CEF;
}

.text--blue-light-3 {
  background: #189CEF;
}

.bg--blue-light-4 {
  background: #E8F6FF;
}

.text--blue-light-4 {
  background: #E8F6FF;
}

.learn-more {
  color: #4D91C5;
  display: block;
  position: relative;
  text-align: right;
  padding-right: 32px;
  font-size: 1.5625rem;
  padding-top: 1rem;
}
.learn-more:after {
  content: "";
  height: 32px;
  width: 32px;
  background: url(../img/icon-back.png) center bottom no-repeat;
  background-size: cover;
  position: absolute;
  transform: translate(0, 10%);
}
@media only screen and (max-width: 992px) {
  .learn-more:after {
    transform: translate(0, -8%);
  }
}

.float-top {
  position: absolute;
  transform: translate(-50%, -100%);
  left: 50%;
}

footer.footer-complex {
  position: relative;
  margin-top: 5rem;
  color: #FFFFFF;
}
@media only screen and (max-width: 992px) {
  footer.footer-complex {
    background: #303C6D;
  }
  footer.footer-complex:before {
    display: none;
  }
}
footer.footer-complex .subfooter {
  padding-top: 5rem;
}
footer.footer-complex .subfooter .social-links {
  list-style: none;
  display: flex;
  justify-content: end;
}
@media only screen and (max-width: 657px) {
  footer.footer-complex .subfooter .social-links {
    justify-content: center;
    padding-left: 0;
  }
}
footer.footer-complex .subfooter .social-links li {
  background: #FFFFFF;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  margin-right: 1rem;
}
footer.footer-complex .subfooter .social-links li a {
  aspect-ratio: 1/1;
}
footer.footer-complex > div {
  padding-top: 15rem;
  padding-left: 12rem;
  padding-right: 12rem;
}
footer.footer-complex > div .widget-2, footer.footer-complex > div .widget-3, footer.footer-complex > div .widget-4 {
  display: table;
}
@media only screen and (min-width: 657px) {
  footer.footer-complex > div .widget-2, footer.footer-complex > div .widget-3, footer.footer-complex > div .widget-4 {
    margin: auto;
  }
}
footer.footer-complex > div .widget-2 ul, footer.footer-complex > div .widget-3 ul, footer.footer-complex > div .widget-4 ul {
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
}
footer.footer-complex > div .widget-2 ul li a, footer.footer-complex > div .widget-3 ul li a, footer.footer-complex > div .widget-4 ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.25rem;
}
footer.footer-complex > div .widget-1 p {
  max-width: 70%;
  margin-top: 1.4rem;
}
footer.footer-complex:before {
  content: "";
  background: #f8f8f8 url(../img/footer-bg.png) no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  transform: translate(0, -38%);
  z-index: -999;
  position: absolute;
  aspect-ratio: 16/9;
}

.circle-filled-right {
  position: absolute;
  width: 250px;
  height: 250px;
  right: 0;
  background: #F39030;
  border: none;
  border-radius: 50%;
  transform: translate(0, 50%);
}

.circle-right {
  position: absolute;
  width: 100px;
  height: 200px;
  right: 0;
  background: transparent;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  border: 2.5rem solid #F39030;
  border-right: 0;
}

.circle-left {
  position: absolute;
  width: 175px;
  height: 350px;
  left: 0;
  transform: translate(0, 60%);
  background: transparent;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  border: 4rem solid #F39030;
  border-left: 0;
}

.numbered-heading {
  color: #1E75B8;
}

.hide-before:before {
  opacity: 0;
}

.player {
  position: relative;
  max-width: 100%;
  margin: 4rem;
  text-align: center;
}
.player:before {
  position: absolute;
  content: "";
  background: url(../img/player-play.png) center center no-repeat;
  height: 130px;
  width: 130px;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.player:after {
  position: absolute;
  content: "";
  background: url(../img/player-bg.png) center center no-repeat;
  background-size: 100% 100%;
  height: calc(100% + 4rem);
  width: calc(100% + 4rem);
  left: -2rem;
  top: -2rem;
  z-index: -99;
}
.player video, .player iframe {
  height: 100%;
  width: calc(100% - 3.5rem);
  position: relative;
}

.icon img.border {
  border-color: #303C6D !important;
}

@media only screen and (max-width: 1366px) {
  .xtl-content {
    padding: 0 !important;
  }
}

.home .xtl-slider {
  z-index: -999;
}
.home .xtl-slider .carousel-item p {
  width: 75%;
  margin-left: auto;
}
@media only screen and (max-width: 1400px) {
  .home .reasons {
    padding-top: 10rem;
  }
}
.home .features img {
  height: 150px;
  width: auto;
}
.home .contact-form {
  margin-top: 8rem;
}

header.xtl-header .navbar .navbar-toggler {
  border-color: #EE6E30;
  color: #EE6E30;
}
header.xtl-header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPScjRUU2RTMwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgc3Ryb2tlLXdpZHRoPScyJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg0K);
}
header.xtl-header .navbar ul.navbar-nav {
  font-size: 1.25rem;
}
header.xtl-header .navbar ul.navbar-nav .nav-link {
  position: relative;
  transition: 0.25s linear;
}
header.xtl-header .navbar ul.navbar-nav .nav-link:not(.btn):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #EE6E30;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
header.xtl-header .navbar ul.navbar-nav .nav-link.btn:hover {
  transform: scale(1) translate(0, 0) !important;
}
@media (min-width: 1366px) {
  header.xtl-header .navbar ul.navbar-nav .nav-link.btn:hover {
    transform: scale(1.1) translate(0, 0) !important;
  }
}
header.xtl-header .navbar ul.navbar-nav .nav-link:hover {
  color: #EE6E30;
  transform: scale(1.1) translate(4.5%, 0);
}
@media (min-width: 1366px) {
  header.xtl-header .navbar ul.navbar-nav .nav-link:hover {
    transform: scale(1.1) translate(0, 0);
  }
}
header.xtl-header .navbar ul.navbar-nav .nav-link:hover:not(.btn):before {
  transform: scaleX(1);
}
@media (min-width: 1366px) {
  header.xtl-header .navbar ul.navbar-nav .nav-link:hover:not(.btn):before {
    visibility: visible;
  }
}

.btn {
  border-radius: 2rem !important;
  padding: 0.5rem 2rem !important;
  border-width: 2px;
  font-weight: 700;
  font-size: 1.25rem;
}
.btn.btn-brand {
  background: linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  background: -webkit-linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  background: -moz-linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  background: -ms-linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  border-color: linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  border-color: -webkit-linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  border-color: -moz-linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  border-color: -ms-linear-gradient(0deg, #F05945 0%, #F3932F 60%);
  color: #FFFFFF;
}
.btn.btn-outline-brand {
  background-color: #FFFFFF;
  border-color: #f05945;
  color: #f05945;
}

h1 {
  color: #303C6D;
  font-weight: 600;
}

.mh-100vw {
  max-height: 100vw;
}

.mh-130vw {
  max-height: 130vw;
}

.background-white {
  background: #FFFA;
  padding: 15px;
}

.background-none {
  background: none;
  padding: 15px;
}

@media only screen and (min-width: 0px) {
  .background-xs-white {
    background: #FFFA;
    padding: 15px;
  }

  .translate-xs-middle {
    transform: translate(-50%, -50%) !important;
  }

  .start-xs-50 {
    left: 50% !important;
  }

  .top-xs-50 {
    top: 50% !important;
  }

  .position-xs-absolute {
    position: absolute !important;
  }

  .position-xs-static {
    position: static !important;
  }

  .background-xs-none {
    background: none;
    padding: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .background-sm-white {
    background: #FFFA;
    padding: 15px;
  }

  .translate-sm-middle {
    transform: translate(-50%, -50%) !important;
  }

  .start-sm-50 {
    left: 50% !important;
  }

  .top-sm-50 {
    top: 50% !important;
  }

  .position-sm-absolute {
    position: absolute !important;
  }

  .position-sm-static {
    position: static !important;
  }

  .background-sm-none {
    background: none;
    padding: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .background-md-none {
    background: none;
    padding: 15px;
  }

  .background-md-white {
    background: #FFFA;
    padding: 15px;
  }

  .translate-md-middle {
    transform: translate(-50%, -50%) !important;
  }

  .start-md-50 {
    left: 50% !important;
  }

  .top-md-50 {
    top: 50% !important;
  }

  .position-md-absolute {
    position: absolute !important;
  }

  .position-md-static {
    position: static !important;
  }
}
@media only screen and (min-width: 1366px) {
  .background-lg-white {
    background: #FFFA;
    padding: 15px;
  }

  .translate-lg-middle {
    transform: translate(-50%, -50%) !important;
  }

  .start-lg-50 {
    left: 50% !important;
  }

  .top-lg-50 {
    top: 50% !important;
  }

  .position-lg-absolute {
    position: absolute !important;
  }

  .position-lg-static {
    position: static !important;
  }

  .background-lg-none {
    background: none;
    padding: 15px;
  }
}
@media only screen and (min-width: 1920px) {
  .background-xl-white {
    background: #FFFA;
    padding: 15px;
  }

  .translate-xl-middle {
    transform: translate(-50%, -50%) !important;
  }

  .start-xl-50 {
    left: 50% !important;
  }

  .top-xl-50 {
    top: 50% !important;
  }

  .position-xl-absolute {
    position: absolute !important;
  }

  .position-xl-static {
    position: static !important;
  }

  .background-xl-none {
    background: none;
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
